TicTacToe/src/META-INF/wsdl/localhost_8080/TicTacToeWebClient/TicTacToeWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tttWebData/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tttWebData/" name="TicTacToeWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://tttWebData/" schemaLocation="http://localhost:8080/TicTacToeWebClient/TicTacToeWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="connect">
<part name="parameters" element="tns:connect"/>
</message>
<message name="getOptions">
<part name="parameters" element="tns:getOptions"/>
</message>
<message name="getOptionsResponse">
<part name="parameters" element="tns:getOptionsResponse"/>
</message>
<message name="getStats">
<part name="parameters" element="tns:getStats"/>
</message>
<message name="getStatsResponse">
<part name="parameters" element="tns:getStatsResponse"/>
</message>
<message name="setOffline">
<part name="parameters" element="tns:setOffline"/>
</message>
<message name="getJoiner">
<part name="parameters" element="tns:getJoiner"/>
</message>
<message name="getJoinerResponse">
<part name="parameters" element="tns:getJoinerResponse"/>
</message>
<message name="getTurn">
<part name="parameters" element="tns:getTurn"/>
</message>
<message name="getTurnResponse">
<part name="parameters" element="tns:getTurnResponse"/>
</message>
<message name="beginGame">
<part name="parameters" element="tns:beginGame"/>
</message>
<message name="beginGameResponse">
<part name="parameters" element="tns:beginGameResponse"/>
</message>
<message name="setMove">
<part name="parameters" element="tns:setMove"/>
</message>
<message name="setMoveResponse">
<part name="parameters" element="tns:setMoveResponse"/>
</message>
<message name="checkGameStart">
<part name="parameters" element="tns:checkGameStart"/>
</message>
<message name="checkGameStartResponse">
<part name="parameters" element="tns:checkGameStartResponse"/>
</message>
<message name="loginVerify">
<part name="parameters" element="tns:loginVerify"/>
</message>
<message name="loginVerifyResponse">
<part name="parameters" element="tns:loginVerifyResponse"/>
</message>
<message name="setLoss">
<part name="parameters" element="tns:setLoss"/>
</message>
<message name="setLossResponse">
<part name="parameters" element="tns:setLossResponse"/>
</message>
<message name="setOnline">
<part name="parameters" element="tns:setOnline"/>
</message>
<message name="setWin">
<part name="parameters" element="tns:setWin"/>
</message>
<message name="setWinResponse">
<part name="parameters" element="tns:setWinResponse"/>
</message>
<message name="denyGame">
<part name="parameters" element="tns:denyGame"/>
</message>
<message name="denyGameResponse">
<part name="parameters" element="tns:denyGameResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="setDraw">
<part name="parameters" element="tns:setDraw"/>
</message>
<message name="setDrawResponse">
<part name="parameters" element="tns:setDrawResponse"/>
</message>
<message name="getLeaderboard">
<part name="parameters" element="tns:getLeaderboard"/>
</message>
<message name="getLeaderboardResponse">
<part name="parameters" element="tns:getLeaderboardResponse"/>
</message>
<message name="invite">
<part name="parameters" element="tns:invite"/>
</message>
<message name="inviteResponse">
<part name="parameters" element="tns:inviteResponse"/>
</message>
<message name="resetGame">
<part name="parameters" element="tns:resetGame"/>
</message>
<message name="resetGameResponse">
<part name="parameters" element="tns:resetGameResponse"/>
</message>
<portType name="TicTacToeWebService">
<operation name="register">
<input wsam:Action="http://tttWebData/TicTacToeWebService/registerRequest" message="tns:register"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="connect">
<input wsam:Action="http://tttWebData/TicTacToeWebService/connect" message="tns:connect"/>
</operation>
<operation name="getOptions">
<input wsam:Action="http://tttWebData/TicTacToeWebService/getOptionsRequest" message="tns:getOptions"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/getOptionsResponse" message="tns:getOptionsResponse"/>
</operation>
<operation name="getStats">
<input wsam:Action="http://tttWebData/TicTacToeWebService/getStatsRequest" message="tns:getStats"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/getStatsResponse" message="tns:getStatsResponse"/>
</operation>
<operation name="setOffline">
<input wsam:Action="http://tttWebData/TicTacToeWebService/setOffline" message="tns:setOffline"/>
</operation>
<operation name="getJoiner">
<input wsam:Action="http://tttWebData/TicTacToeWebService/getJoinerRequest" message="tns:getJoiner"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/getJoinerResponse" message="tns:getJoinerResponse"/>
</operation>
<operation name="getTurn">
<input wsam:Action="http://tttWebData/TicTacToeWebService/getTurnRequest" message="tns:getTurn"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/getTurnResponse" message="tns:getTurnResponse"/>
</operation>
<operation name="beginGame">
<input wsam:Action="http://tttWebData/TicTacToeWebService/beginGameRequest" message="tns:beginGame"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/beginGameResponse" message="tns:beginGameResponse"/>
</operation>
<operation name="setMove">
<input wsam:Action="http://tttWebData/TicTacToeWebService/setMoveRequest" message="tns:setMove"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/setMoveResponse" message="tns:setMoveResponse"/>
</operation>
<operation name="checkGameStart">
<input wsam:Action="http://tttWebData/TicTacToeWebService/checkGameStartRequest" message="tns:checkGameStart"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/checkGameStartResponse" message="tns:checkGameStartResponse"/>
</operation>
<operation name="loginVerify">
<input wsam:Action="http://tttWebData/TicTacToeWebService/loginVerifyRequest" message="tns:loginVerify"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/loginVerifyResponse" message="tns:loginVerifyResponse"/>
</operation>
<operation name="setLoss">
<input wsam:Action="http://tttWebData/TicTacToeWebService/setLossRequest" message="tns:setLoss"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/setLossResponse" message="tns:setLossResponse"/>
</operation>
<operation name="setOnline">
<input wsam:Action="http://tttWebData/TicTacToeWebService/setOnline" message="tns:setOnline"/>
</operation>
<operation name="setWin">
<input wsam:Action="http://tttWebData/TicTacToeWebService/setWinRequest" message="tns:setWin"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/setWinResponse" message="tns:setWinResponse"/>
</operation>
<operation name="denyGame">
<input wsam:Action="http://tttWebData/TicTacToeWebService/denyGameRequest" message="tns:denyGame"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/denyGameResponse" message="tns:denyGameResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://tttWebData/TicTacToeWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="setDraw">
<input wsam:Action="http://tttWebData/TicTacToeWebService/setDrawRequest" message="tns:setDraw"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/setDrawResponse" message="tns:setDrawResponse"/>
</operation>
<operation name="getLeaderboard">
<input wsam:Action="http://tttWebData/TicTacToeWebService/getLeaderboardRequest" message="tns:getLeaderboard"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/getLeaderboardResponse" message="tns:getLeaderboardResponse"/>
</operation>
<operation name="invite">
<input wsam:Action="http://tttWebData/TicTacToeWebService/inviteRequest" message="tns:invite"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/inviteResponse" message="tns:inviteResponse"/>
</operation>
<operation name="resetGame">
<input wsam:Action="http://tttWebData/TicTacToeWebService/resetGameRequest" message="tns:resetGame"/>
<output wsam:Action="http://tttWebData/TicTacToeWebService/resetGameResponse" message="tns:resetGameResponse"/>
</operation>
</portType>
<binding name="TicTacToeWebServicePortBinding" type="tns:TicTacToeWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="connect">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getOptions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStats">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setOffline">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getJoiner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTurn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="beginGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setMove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkGameStart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loginVerify">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setLoss">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setOnline">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="setWin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="denyGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setDraw">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLeaderboard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="invite">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TicTacToeWebService">
<port name="TicTacToeWebServicePort" binding="tns:TicTacToeWebServicePortBinding">
<soap:address location="http://localhost:8080/TicTacToeWebClient/TicTacToeWebService"/>
</port>
</service>
</definitions>