TicTacToe/src/META-INF/wsdl/localhost_8080/TicTacToeWebClient/TicTacToeWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://tttWebData/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://tttWebData/">

<xs:element name="beginGame" type="tns:beginGame"/>

<xs:element name="beginGameResponse" type="tns:beginGameResponse"/>

<xs:element name="checkGameStart" type="tns:checkGameStart"/>

<xs:element name="checkGameStartResponse" type="tns:checkGameStartResponse"/>

<xs:element name="connect" type="tns:connect"/>

<xs:element name="denyGame" type="tns:denyGame"/>

<xs:element name="denyGameResponse" type="tns:denyGameResponse"/>

<xs:element name="getJoiner" type="tns:getJoiner"/>

<xs:element name="getJoinerResponse" type="tns:getJoinerResponse"/>

<xs:element name="getLeaderboard" type="tns:getLeaderboard"/>

<xs:element name="getLeaderboardResponse" type="tns:getLeaderboardResponse"/>

<xs:element name="getOptions" type="tns:getOptions"/>

<xs:element name="getOptionsResponse" type="tns:getOptionsResponse"/>

<xs:element name="getStats" type="tns:getStats"/>

<xs:element name="getStatsResponse" type="tns:getStatsResponse"/>

<xs:element name="getTurn" type="tns:getTurn"/>

<xs:element name="getTurnResponse" type="tns:getTurnResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="invite" type="tns:invite"/>

<xs:element name="inviteResponse" type="tns:inviteResponse"/>

<xs:element name="loginVerify" type="tns:loginVerify"/>

<xs:element name="loginVerifyResponse" type="tns:loginVerifyResponse"/>

<xs:element name="register" type="tns:register"/>

<xs:element name="registerResponse" type="tns:registerResponse"/>

<xs:element name="resetGame" type="tns:resetGame"/>

<xs:element name="resetGameResponse" type="tns:resetGameResponse"/>

<xs:element name="setDraw" type="tns:setDraw"/>

<xs:element name="setDrawResponse" type="tns:setDrawResponse"/>

<xs:element name="setLoss" type="tns:setLoss"/>

<xs:element name="setLossResponse" type="tns:setLossResponse"/>

<xs:element name="setMove" type="tns:setMove"/>

<xs:element name="setMoveResponse" type="tns:setMoveResponse"/>

<xs:element name="setOffline" type="tns:setOffline"/>

<xs:element name="setOnline" type="tns:setOnline"/>

<xs:element name="setWin" type="tns:setWin"/>

<xs:element name="setWinResponse" type="tns:setWinResponse"/>

<xs:complexType name="getStats">
<xs:sequence>
<xs:element name="uname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getStatsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setOnline">
<xs:sequence>
<xs:element name="u" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLeaderboard">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getLeaderboardResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkGameStart">
<xs:sequence>
<xs:element name="u" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkGameStartResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginVerify">
<xs:sequence>
<xs:element name="uname" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginVerifyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setLoss">
<xs:sequence>
<xs:element name="uname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setLossResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getJoiner">
<xs:sequence>
<xs:element name="u" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getJoinerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setDraw">
<xs:sequence>
<xs:element name="uname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setDrawResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="setOffline">
<xs:sequence>
<xs:element name="u" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="denyGame">
<xs:sequence>
<xs:element name="u" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="denyGameResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTurn">
<xs:sequence>
<xs:element name="joiner" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTurnResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setWin">
<xs:sequence>
<xs:element name="uname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setWinResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getOptions">
<xs:sequence>
<xs:element name="u" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getOptionsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="invite">
<xs:sequence>
<xs:element name="uname" type="xs:string" minOccurs="0"/>
<xs:element name="invite" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inviteResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="resetGame">
<xs:sequence>
<xs:element name="uname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resetGameResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="beginGame">
<xs:sequence>
<xs:element name="u" type="xs:string" minOccurs="0"/>
<xs:element name="joiner" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="beginGameResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="connect">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="setMove">
<xs:sequence>
<xs:element name="move" type="xs:string" minOccurs="0"/>
<xs:element name="uname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setMoveResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="register">
<xs:sequence>
<xs:element name="uname" type="xs:string" minOccurs="0"/>
<xs:element name="pass" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>